code/cache/45ab468f8289441d9a91d1349483de931c1405b4.json
code/cache/fc40ea3294e8a2c9fadac19206180aa24e4cc2d5.json
code/map_with_approx_route_campus.html
code/map_with_optimized_route.html
code/acompanhando-todas-as-rotas.html
code/1-rota.html
code/2-rota.html
code/3-rota.html
1-rota.html
2-rota.html
3-rota.html
acompanhando-todas-as-rotas.html
code/cache/a960da11c22aa88821130977ae40589c00d31c60.json
cache/a960da11c22aa88821130977ae40589c00d31c60.json
code/2-rota.html
code/conectando_banco.py
code/visualizando_dados.py