body {
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 10px;
}

header .logo {
    height: 50px;
    margin-right: 20px;
}

header h1 {
    margin: 0;
}

.container {
    display: flex;
    height: calc(100vh - 60px); /* Subtrai a altura do header */
}

.maps {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.maps iframe {
    width: 90%;
    height: 90%;
    border: none;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#prevButton, #nextButton {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    font-size: 18px;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
}

#prevButton {
    left: 10px;
}

#nextButton {
    right: 10px;
}

.form {
    flex: 1;
    padding: 20px;
    background-color: #f4f4f4;
    border-left: 1px solid #ddd;
}

.form h2 {
    margin-top: 0;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
